# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment configurations
.env
.env.*
.env.local

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Linter & Bundler Caches
.eslintcache
.vite/
.cache/
