# Dependencies
node_modules/

# Environment configurations
.env
.env.*

# Logs
*.log
logs/

# Prisma local database files (but commit migrations)
*.db
*.db-journal

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Solana test ledger if generated in backend
test-ledger/
